*, *::after, *::before {
  box-sizing: border-box;
}

span {
  display: inline-block;
}

.App {
  width: 100%;
  min-height: 100vh;

  font-family: 'Poppins', sans-serif;
}

.login-container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: whitesmoke;
  height: 100vh;
}

.login-container .title {
  font-size: 25px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 50px 30px 50px;
  margin-top: 30px;

  border-radius: 15px;

  background-color: white;
}

.login-form button, .login-form .input {
  width: 200px;
  height: 40px;
}

.user-info {
  padding: 15px 30px;
  margin-bottom: 20px;

  background-color: rgb(60, 60, 60);
  color: white;

  font-size: 15px;
}

.title {
  font-size: 20px;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-event-form {
  margin-top: 20px;
  padding: 30px;
}

.new-event-form button {
  width: 200px;
}

.detail-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: rgb(35, 35, 35);
  margin: 10px 0;
}

.event-card {
  padding: 5px;
}

.event-info {
  max-height: 60%;
  overflow-y: auto;
}

.add-stack {
  background-color: whitesmoke;
  padding: 20px 0;
  border-radius: 15px;
}

.add-stack input, .add-stack button {
  height: 40px;
  width: 250px;
}

.add-stack input {
  padding: 0 10px;
}


